<a href="https://colab.research.google.com/github/anjos1104adriel/fun-oes/blob/main/listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
nome = 'adriel'
print(nome)

adriel

In [2]:
nota1 = 8
nota2 = 5
media = (nota1 + nota2)/2
print(media)

6.5

In [4]:
nota1 = float(input('dijite a nota 1 '))
nota2 = float(input('dijite a nota 2 '))
media = (nota1 + nota2)/2
print(media)

dijite a nota 1 1
dijite a nota 2 98
49.5

In [9]:
frutas = ['maçã', 'banana', 'pera']
numeros = [1, 9, 4, 6, 8,]

mista = [1, 'ola', True, 3, 46.7]

print(frutas)
print(numeros)
print(mista)

['maçã', 'banana', 'pera']
[1, 9, 4, 6, 8]
[1, 'ola', True, 3, 46.7]

In [10]:
#acessar alementos

lista = [5, 3, 7, 87, 3, 7]

print(lista[0])
print(lista[3])

print(lista[-1])
print(lista[-2])

5
87
7
3

In [11]:
# modificar elementos da lista

lista[2] = 250

print(lista)

[5, 3, 250, 87, 3, 7]

In [14]:
# adicionar elementos

lista = [1, 2,]

lista.append(3)
print(lista)

#insert() inserir em uma posição especifica
lista.insert(1, 9)

print(lista)

[1, 2, 3]
[1, 9, 2, 3]

In [18]:
#remover elementos

nomes = ['ander', 'ana', 'jose', 'lucas', 'ze']

#pelo valor

nomes.remove('lucas')
print(nomes)
#pelo indice
nomes.pop(0)
print(nomes)
nomes.pop()
print(nomes)

['ander', 'ana', 'jose', 'ze']
['ana', 'jose', 'ze']
['ana', 'jose']

In [23]:
#fatiamento
lista = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
#sintaxe: lista [inicio:fim:passo]
print(lista[:5])
print(lista[6:])
print(lista[3:9])
print(lista[::2])
print(lista[::-1])

[0, 1, 2, 3, 4]
[6, 7, 8, 9]
[3, 4, 5, 6, 7, 8]
[0, 2, 4, 6, 8]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [31]:
#funções uteis

lista = [4, 7, 6, 11, 2, 0]

#tamanho da lista
print(len(lista))

#maior e menor valor da lista
print(max(lista))
print(min(lista))

#soma dos elementos
print(sum(lista))

#ordenação
print(sorted(lista))
print(lista)

#alterar a ordenação da lista original

lista.sort()
print(lista)

6
11
0
30
[0, 2, 4, 6, 7, 11]
[4, 7, 6, 11, 2, 0]
[0, 2, 4, 6, 7, 11]

In [34]:
#laços em lista

compras = ['ovo', 'pão', 'café', 'laranja', 'chà']


for item in compras:
  print(item)

for indice, item in  enumerate(compras):
    print(f'produto {indice}: {item}')

ovo
pão
café
laranja
chà
produto 0: ovo
produto 1: pão
produto 2: café
produto 3: laranja
produto 4: chà

In [37]:
#filtar elementos CON FOR

for item in compras:
  cont = 0
  if 'a' in item:
    print(f'{item} contém a letra a')
    cont +=1
    print(cont)

strings

In [39]:
#concatenação

nome = 'adriel'
sobrenome = 'anjos'

print(nome, sobrenome)
print(nome+sobrenome)
print(f'{nome} {sobrenome}')

adriel anjos
adrielanjos
adriel anjos

In [40]:
#acessar caracteres

texto = 'pyton'
print(texto[0])

for letra in texto:
  print(letra)

p
p
y
t
o
n

In [41]:
#Fatiamento de string (slicing)

texyo = '  programação  '
print(texto[2:5])
print(texto[4:])
print(texto[::2])

ton
n
ptn

In [45]:
#metodos comons

print(texto.strip()) #remover espaços

#converter em maiusculas e minusculas
print(texto.upper())
print(texto.lower())

pyton
PYTON
pyton